<div class="app-nav">
  <a class="fa-stack arrow">
    <i class="fa fa-circle-thin fa-stack-2x"></i>
    <i class="fa fa-angle-left fa-stack-1x fa-inverse"></i>
  </a>
  <div class="container">
    <div class="first-row">
      <h1>Questions
        <a class="fa-stack fa-1x add-quest">
          <i class="fa fa-circle fa-stack-2x"></i>
          <i class="fa fa-plus fa-stack-1x fa-inverse"></i>
        </a>
      </h1>
      <ul class="one-row">
        <li>last time discussed 1 day ago</li>
      </ul>
    </div>
  </div>
</div>


<div class="quest-cont">

  <div class="container app-question-cont">
    <app-question
      [question]="question"
    ></app-question>
  </div>

  <div class="container answered">
    <h3 *ngFor="let item of question.user"><strong>{{item.peers}}</strong>peers already answered Eva</h3>
  </div>

  <div class="container">
    <div *ngFor="let comment of question.comments" class="comments bordered box-shadow">

      <div class="comment row no-gutters">
        <div class="col-sm-9 pos-rel">
          <app-comment-row
            [comment]="comment"
          ></app-comment-row>
        </div>
        <div class="col-sm-3">
          <app-votes-inline
            [votes]="comment.votes"
          ></app-votes-inline>
        </div>
      </div>

    <div *ngFor="let subcomment of comment.subcomments">
      <div class="sub-comment row no-gutters">
        <div class="col-sm-9">
          <app-comment-row
            [comment]="subcomment"
          ></app-comment-row>
        </div>
        <div class="col-sm-3">
          <app-votes-inline
            [votes]="subcomment.votes"
          ></app-votes-inline>
        </div>
      </div>
    </div>

      <div class="new-answer">
        <span class="text-uppercase">give</span> new answer
      </div>

    </div>
  </div>
</div>
