@import '../../../theme/_variables.scss';

app-tittle-row {
  width: 100%;
  display: table;
  $avatar-size: $avatar-box-sm;
  $avatar-padd: $size-secondary;

  .avatar-box {
    display: table-cell;
    float: left;
    width: $avatar-size;
    padding: $avatar-padd;
  }

  .content {
    width: 100%;
    vertical-align: top;
    text-align: left;

    padding-left: 80px;
    display: block;
  }

  .single-h3 {
    padding-top: $size-primary + $size-secondary;
  }

  h1 {
    cursor: pointer;
    color: $dark-blue;
    font-style: italic;
    font-size: 1.6em;
    margin: 0;
    padding-top: $size-secondary;
    padding-left: $avatar-padd;
    margin-top: $size-mid-secondary;
    border-top: 3px solid white;
    margin-left: -$avatar-size;
    padding-bottom: $size-secondary;
  }

  h2 {
    cursor: pointer;
    margin: 0;
    padding-top: $size-primary;
    color: $dark-grey;
    font-size: 1em;
    text-transform: uppercase;
    padding-left: $avatar-padd;
  }

  p {
    padding-top: $size-primary;
    line-height: $p-line-height;
    padding-left: $avatar-padd;
  }

  .bold {
    font-size: 1.2em;
    text-transform: uppercase;
    font-weight: bold;
  }

  .separator {
    padding: 0 5px;
  }

  .when {
    color: $black;
    font-style: italic;
  }

  strong {
    padding-right: $size-third;
    color: $dark-blue;
    font-size: 1.3em;
    text-transform: none;
  }
  @media screen and (min-width: 480px) {}
  @media screen and (min-width: 768px) {
    $avatar-size: 100px;

    h1
    {
      border-top: 0 solid white;
        margin-top: 0;
      margin-left: 0;
      padding-bottom: 0;
    }

    .avatar-box {
      width: $avatar-box;
      padding: $size-primary;
    }
    .content {
      padding: 0;
      display: table-cell;
    }
  }
  @media screen and (min-width: 996px) {}
}
