@import '../../../theme/_variables.scss';
@import '../../../theme/_mixins.scss';

app-profile-info-square {
  $square-width: 100px;

  .square-outer {
    background-color: $light-blue;
    width: $square-width;
    height: $square-width;
  }

  .square-inn {
    @include centre("both");

    strong {
      font-size: 2em;
    }

    h6 {
      padding: 0;
      margin: 0;
      font-size: 1.1em;
    }
  }
}
