@import '../../../theme/_variables.scss';
@import '../../../theme/_nav.scss';
@import '../../../theme/_mixins.scss';

app-all-questions {
  .more-questions {
    h3 {
      margin: 0;
      padding: $size-mid-secondary;
      font-size: 1.2em;
      font-weight: bold;
      color: $footer-red;
      background-color: $white;
    }
  }
}
