<app-profile #profileModal></app-profile>

<div class="app-nav">
  <a class="fa-stack arrow">
    <i class="fa fa-circle-thin fa-stack-2x"></i>
    <i class="fa fa-angle-left fa-stack-1x fa-inverse"></i>
  </a>
  <div class="container">
    <div class="row first-row">
      <h1>Questions
        <a class="fa-stack fa-1x add-quest">
          <i class="fa fa-circle fa-stack-2x"></i>
          <i class="fa fa-plus fa-stack-1x fa-inverse"></i>
        </a>
      </h1>
      <ul class="one-row">
        <li class="checkboxes">
          <div class="radio-inline">
            <label><input type="radio" name="myShelf" value="myShelf">My shelf</label>
          </div>
          <div class="radio-inline">
            <label><input type="radio" name="allQuestions" value="allQuestions">All questions</label>
          </div>
        </li>
        <li class="sort-by">
          Sort by: <a href="#">recent</a> or <a href="hot">hot</a>
        </li>
      </ul>
    </div>

    <div class="row search-row">
      <form role="form">
        <div class="col-sm-9 padd-right">
          <input type="text" placeholder="Search questions">
        </div>
        <div class="col-sm-3">
          <button type="submit" class="btn btn-nav">Search</button>
        </div>
      </form>
    </div>
  </div>
</div>


<div *ngFor="let question of questions" class="container card-shadow all-quest-card">
  <app-all-question-cont [question]="question" [profileModal]="profileModal"></app-all-question-cont>
</div>
<div class="container">
  <div class="row no-gutters more-questions card-shadow">
    <h3>Load more questions</h3>
  </div>
</div>
