@import '../../../theme/_variables.scss';

app-all-comment-card {
  $circle-size: $comment-circle-size;
  $size-third: $size-third;
  $comment-card-height: $comment-card-height;
  $avatar-padd: $size-secondary;
  $avatar-box: $avatar-box;
  padding: 0;

  .mobile {
    display: block;
  }

  .tablet {
    display: none;
  }

  .desktop {
    display: none;
  }

  .card {
    position: relative;
    text-align: center;
    height: $comment-card-height;
    width: $avatar-box;
    background-color: $comment-card-grey;
    padding: $size-third;

    .hidden {
      display: hidden;
    }

    .circle {
      width: $circle-size;
      height: $circle-size;
      border-radius: 50%;
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translate(-50%, 50%);
      background-color: $dark-grey;
    }

    .box {
      width: 100px;
      min-height: 100px;
      padding: 15px;
      font-weight: bold;
    }

    .footer {
      position: absolute;
      color: $dark-grey;
      bottom: $circle-size;
      left: 50%;
      transform: translate(-50%, 50%);
      text-transform: uppercase;
      padding-top: $size-third;
      padding-bottom: $size-primary;
      border-top: 1px solid black;
    }

    h3 {
      font-weight: bold;
      position: absolute;
      padding-top: 5px;
      padding-left: 25px;
    }
  }
  @media screen and (min-width: 480px) {}
  @media screen and (min-width: 768px) {
    .mobile {
      display: none;
    }

    .tablet {
      display: block;
    }
  }
  @media screen and (min-width: 996px) {
    .mobile {
      display: none;
    }

    .tablet {
      display: none;
    }

    .desktop {
      display: block;
    }
  }
}

app-all-questions {
  .card {
    .activ {
      .footer {
        border-top: none;
        color: $black;
        font-style: italic;
        font-weight: bold;
        bottom: 40px;
      }
    }
  }
}
