@import '../../../theme/_variables.scss';
@import '../../../theme/_mixins.scss';

app-profile {
$background-color: $white;
text-align: center;

.photo-box {
  width: 80px;
  padding: $size-third;
}
  .close-btn {
    color: $dark-grey;
    position: absolute;
    top: $size-secondary;
    right: $size-secondary;
  }

  h2 {
    color: $dark-blue;
    margin-top: 0;
    margin-bottom: $size-third;
  }

  .member-info {
    border-bottom: 2px solid $dark-grey;
    padding-bottom: $size-secondary;

    li:nth-child(1) {
      text-align: left;
    };

    li:nth-child(2) {
      text-align: center;
    };

    li:nth-child(3) {
      text-align: right;
    };

    li {
      display: inline-block;
      list-style: none;
      width: 33%;

      .certif {
        font-size: 0.75em;

        .fa-certificate {
          color: $orange-primary;
        }

        .fa-star {
          color: $background-color;
          font-size: 0.8em;
        }
      }

      strong {
        text-transform: uppercase;
        color: $dark-grey;
        padding-right: $size-third;
      }
    }
  }

  .how-start {
    position: relative;
    .arrow {
      font-size: 1.5em;
      @include link-colors($dark-grey, $dark-blue, $dark-blue, $dark-grey, $dark-blue);
      position: absolute;
      top: $size-secondary;
    }

    .arr-left {
      left: 0;
    }

    .arr-right {
      right: 0;
    }

    h1 {
      font-style: italic;
      font-size: 4em;
    }
    h4 {
      color: $dark-grey;
      text-transform: uppercase;
      padding-top: $size-primary;
      padding-bottom: $size-third;
    }

    .info-square-box {
      width: 100%;
      padding: 0 $size-mid-primary;
      position: relative;

      li {
        display: inline-block;
        position: relative;
        list-style: none;
        padding: $size-third;
      }
      li:nth-child(1) .square-outer {
        @include transform(rotate(-120deg));
      }
      li:nth-child(2) .square-outer {
        @include transform(rotate(-15deg));
      }
      li:nth-child(3) .square-outer {
        @include transform(rotate(-35deg));
      }
      li:nth-child(4) .square-outer {
        @include transform(rotate(25deg));
      }
    }
  }

  .join-square {
    list-style: none;
    display: inline-block;
    padding: $size-small;
      position: relative;

  h6 {
    color: $dark-blue;
    font-size: 1.5em;


  }
    .photo-box {
      width: 120px;
      height: 120px;
      padding: $size-primary;
      background-color: $light-grey;

      img {
        margin: 0;
        width: 100%;
        height: 100%;
      }
  }

  }

  .hott-info {
    padding: $size-mid-secondary;
    margin: $size-mid-secondary 0;
    text-align: center;
    background-color: $light-grey;
    position: relative;
    .photo-box {
      position: absolute;
      left: 50%;
      top: 0;
      transform: translate( -50%, -50%);
    }
    .info-row {
      li {
        font-size: 1.2em;
        font-style: italic;
        display: inline-block;
        list-style-type: none;
        padding-top: $size-mid-secondary;
        width: 24%;
        strong {
          color: $black;
        }

      }
    }

  }
}
