@import '../../../theme/_variables.scss';
@import '../../../theme/_mixins.scss';

app-profile {
  ul {
    padding-left: 0;
  }
  $background-color: $white;
  text-align: center;

  .photo-box {
    width: 80px;
    padding: $size-third;
  }

  .close-btn {
    color: $dark-grey;
    position: absolute;
    top: $size-secondary;
    right: $size-secondary;
  }

  h2 {
    color: $dark-blue;
    margin-top: 0;
    margin-bottom: $size-third;
  }

  .member-info {
    padding-left: 0;
    border-bottom: 2px solid $dark-grey;
    padding-bottom: $size-secondary;

    li {
      font-size: 0.2em;
    }

    li {
      display: block;
      list-style: none;
      width: 100%;
      font-size: 1.3em;
      padding-top: $size-secondary;

      .certif {
        font-size: 0.75em;

        .fa-certificate {
          color: $orange-primary;
        }

        .fa-star {
          color: $background-color;
          font-size: 0.8em;
        }
      }

      strong {
        display: block;
        text-transform: uppercase;
        color: $dark-grey;
        padding-right: $size-third;
      }
    }
  }

  .how-start {
    position: relative;

    .arrow {
      font-size: 1.5em;
      @include link-colors($dark-grey, $dark-blue, $dark-blue, $dark-grey, $dark-blue);
      position: absolute;
      top: $size-secondary;
    }

    .arr-left {
      left: 0;
    }

    .arr-right {
      right: 0;
    }

    h1 {
      font-style: italic;
      font-size: 2em;
    }

    h4 {
      color: $dark-grey;
      text-transform: uppercase;
      padding-top: $size-primary;
      padding-bottom: $size-third;
    }

    .info-square-box {
      width: 100%;
      padding: 0 $size-primary;
      position: relative;

      li {
        display: inline-block;
        position: relative;
        list-style: none;
        padding: $size-third;
      }

      li:nth-child(1) .square-outer {
        @include transform(rotate(-120deg));
      }

      li:nth-child(2) .square-outer {
        @include transform(rotate(-15deg));
      }

      li:nth-child(3) .square-outer {
        @include transform(rotate(-35deg));
      }

      li:nth-child(4) .square-outer {
        @include transform(rotate(25deg));
      }
    }
  }

  .hott-info {
    padding: $size-mid-secondary $size-third;
    margin: $size-mid-secondary 0;
    text-align: center;
    background: $gradient;
    position: relative;

    h1 {
      font-size: 2.1em;
      color: $dark-blue;
      font-style: italic;
      margin-top: $size-third;
    }

    h2 {
      font-size: 1.8em;
      color: $dark-grey;

      strong {
        padding: 0 0.5em;
        color: $dark-blue;
      }
    }

    .photo-box {
      position: absolute;
      left: 50%;
      top: 0;
      transform: translate( -50%, -50%);
    }

    .info-row {
      li {
        font-size: 1.2em;
        font-style: italic;
        display: inline-block;
        list-style-type: none;
        padding-top: $size-mid-secondary;
        width: 49%;

        strong {
          padding: 0 0.5em;
          color: $black;
        }
      }
    }
  }
  @media screen and (min-width: 480px) {}
  @media screen and (min-width: 768px) {
    .member-info {
      display: inline-block;
      width: 33%;

      li {
        font-size: 1em;

        li:nth-child(1) {
          text-align: left;
        };

        li:nth-child(2) {
          text-align: center;
        };

        li:nth-child(3) {
          text-align: right;
        };
      }
      strong {
        display: inline;
      }
    }
    .how-start {
      h1 {
        font-size: 4em;
      }
    }
    .info-square-box {
      padding: 0 $size-mid-primary;
    }
    .hott-info {
      padding: $size-mid-secondary;

      h1 {
        font-size: 3em;
      }
      h2 {
        font-size: 2.5em;
      }
      .info-row li {
        width: 24%;
      }
    }
  }
  @media screen and (min-width: 996px) {
    .member-info {
      li {
        font-size: 1.3em;
      }
    }
  }
}
