@import '../../../theme/_variables.scss';

app-avatar-box{
  .avatar-box:hover {
    cursor: pointer;
  }
  .avatar-box {
    width: $avatar-box;
    height: $avatar-box;
    padding: $size-primary;
  }

  @media screen and (min-width: 768px) {
    width: $avatar-box-sm;
    height: $size-secondary;
    padding: $size-secondary;
  }
}
