body {
  background-color: $background-color;
  color: $black;
  font-size: 14px;

  ul,
  ol {
    list-style-type: none;
  }
}

@media screen and (min-width: 480px) {}
@media screen and (min-width: 768px) {}
@media screen and (min-width: 996px) {}
