//Colors
$background-color: #FBFBFB;
$white: #fff;
$black: #000;
$dark-blue: #1068b0;
$dark-grey: #AEB0B2;
$heavy-grey: #A7A9AC;
$light-blue: #e0f3fc;
$light-grey: #eeeeee;
$border-light: #eee;
$footer-red: #E02F4C;
$orange-primary: #FC7E72;
//Fonts
$font-secondary: 'Merriweather', serif;
$p-line-height: 1.8em;
//Sizes
$size-small: 5px;
$size-primary: 25px;
$size-secondary: 15px;
$size-third: 10px;
$size-mid-primary: 60px;
$size-mid-secondary: 40px;
$boot-row: 15px;
//Grid
body {
  font-family: $font-secondary;
}
