$background-color: #FBFBFB;

$white: #fff;
$black: #000;
$dark-blue: #1068b0;
$dark-grey: #AEB0B2;
$heavy-grey: #A7A9AC;
$light-blue: #e0f3fc;
$light-grey: #eeeeee;
$footer-red: #E02F4C;

$font-secondary: 'Merriweather', serif;

body {
  font-family: $font-secondary;
}
