<div class="box-shadow back-white row no-gutters">
  <div class="tittle row no-gutters">
    <div class="col-sm-9 light-blue">
      <app-tittle-row
        [user]="question.user"
        [tittle]="question.tittle"
        [profileModal]="profileModal"
      ></app-tittle-row>
    </div>
  </div>

  <div class="back-white row no-gutters padd-bott">
    <ul class="row card-container clearfix">
      <li class="asked">
        <app-all-comment-card
          [type]="asked"
        ></app-all-comment-card>
      </li>

      <li class="activities">
        <app-all-comment-card
        [type]="'activities'"
        [user]="question.user"></app-all-comment-card>
      </li>

      <li class="commented">
        <app-all-comment-card
        [type]="'commented'"></app-all-comment-card>
      </li>

      <li class="commented">
        <app-all-comment-card
        [type]="'commented'"></app-all-comment-card>
      </li>

      <li class="commented">
        <app-all-comment-card
        [type]="'commented'"></app-all-comment-card>
      </li>

      <li class="commented">
        <app-all-comment-card
        [type]="'commented'"></app-all-comment-card>
      </li>

      <li class="commented">
        <app-all-comment-card
        [type]="'commented'"></app-all-comment-card>
      </li>

      <li class="answered">
        <app-all-comment-card
        [type]="'answered'"></app-all-comment-card>
      </li>
    </ul>

    <ul class="quest-info">
      <li class="info">2 related discussions</li>
      <li class="info">9 peers involved</li>
      <li class="info">5 conversations</li>
    </ul>
  </div>
</div>
