<div class="question box-shadow">
  <div class="tittle row no-gutters light-blue">
    <div class="col-sm-9">
      <app-tittle-row
        [user]="question.user"
        [tittle]="question.tittle"
        [profileModal]="profileModal"
      ></app-tittle-row>
    </div>
    <div class="col-sm-3">
      <h3 class="unfollows min768">unfollows</h3>
    </div>
  </div>
  <div class="content row no-gutters">
    <div class="col-sm-9">
      <div class="dis-table">
        <div class="empty-col min-768">
        </div>
        <div class="cont-col">
          <p>{{question.description}}</p>
        </div>
      </div>
    </div>
    <div class="col-sm-3 mobile-info clearfix">
      <h3 class="unfollows max768">unfollows</h3>
      <app-votes-inline
        [votes]="question.votes"
      ></app-votes-inline>
    </div>
  </div>
  <div class="new-answer">
    <span class="text-uppercase">give</span> new answer
  </div>
</div>
