<div class="question">
  <div class="tittle row no-gutters light-blue">
    <div class="col-sm-9">
      <app-tittle-row></app-tittle-row>
    </div>
    <div class="col-sm-3">
      <h3 class="unfollows min768">unfollows</h3>
    </div>
  </div>
  <div class="content row no-gutters">
    <div class="col-sm-9">
      <div class="dis-table">
        <div class="empty-col min-768">
        </div>
        <div class="cont-col">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sint eum veritatis in voluptatem. Reprehenderit, asperiores a animi nulla repellat alias, fugit saepe sit id incidunt dolor, fugiat excepturi molestias iusto.Lorem ipsum dolor sit amet,
            consectetur adipisicing elit. Ullam quisquam illo, quasi consectetur, voluptate soluta fugiat exercitationem consequuntur asperiores unde ducimus atque temporibus iusto eum tempore vero enim possimus saepe!</p>
        </div>
      </div>
    </div>
    <div class="col-sm-3 mobile-info clearfix">
      <h3 class="unfollows max768">unfollows</h3>
      <app-votes-inline></app-votes-inline>
    </div>
  </div>
  <div class="new-answer">
    <span class="text-uppercase">give</span> new answer
  </div>
</div>
